- content_for('page_scripts') do
  :plain
    var uploadWindow;
    var uploadErrorsWindow;
    function toggle_upload_popup() {
      var popup = $('upload-popup');
      if (!uploadWindow)
        uploadWindow = new Popup.Window(popup);
      uploadWindow.toggle();
    }
    function uploadInProgress() {
      $('upload_button').disabled = true;
      //$('upload_file').disabled = true;
      $('busy').appear();
    }
    function showErrorsPopup() {
      var popup = $('upload-errors-popup');
      if (!uploadErrorsWindow)
        uploadErrorsWindow = new Popup.Window(popup);
      uploadErrorsWindow.show();
      uploadWindow.hide();
      $('busy').hide();
      $('upload_button').disabled = false;
      $('upload_file').disabled = false;
    }

-#
  - if model_name == 'Stylesheet'
    %h1 Stylesheets
    - render_region :top do |top|
      - top.help_text do
        %p Cascading Stylesheets (CSS files) can be used to alter the look &amp; feel of your pages, layouts, and/or snippets.
  - elsif model_name == 'Javascript'
    %h1 Javascripts
    - render_region :top do |top|
      - top.help_text do
        %p Javascripts add dynamic behaviors that can be used within your pages, layouts, and/or snippets.
.outset
  %table.index{:id => model_symbol, :cellspacing => 0, :border => 0, :cellpadding => 0}
    %thead
      %tr
        %th{:class => "snippet #{model_symbol}"}
          -#= plural_model_name
          = model_name
        %th.modify= t('modify')
    %tbody
      - unless models.empty?
        - models.each do |text_asset|
          %tr.node.level-1
            -# this next class is dumb but Radiant hard coded for the Snippet class so we'll just piggyback on that...
            %td.snippet
              = image("sns/#{model_symbol}", :alt => "#{model_name}-icon", :title => text_asset.url)
              %span= link_to(text_asset.name, send("edit_admin_#{model_symbol}_path", :id => text_asset), :title => text_asset.url)
            %td.remove
              = link_to image('remove', :alt => t('remove')), send("remove_admin_#{model_symbol}_path", :id => text_asset)
      - else
        %tr
          %td.snippet.note{:colspan => 2}= t('sns.not_found', :plural_mode => plural_model_name)

  #actions
    %ul
      %li
        = link_to(image("sns/new-asset", :alt => "#{t('sns.new')} #{model_name}") + " #{t('sns.new')} #{model_name}", send("new_admin_#{model_symbol}_path"))
      %li
        = link_to image("sns/upload-asset", :alt => "#{t('sns.upload')} #{model_name}") + " #{t('sns.upload')} #{model_name}", "#", :onclick => "toggle_upload_popup(); return false;"

  - content_for 'popups' do
    .popup#upload-popup{:style => 'display:none;width:22em'}
      #busy.busy{:style => "display: none"}= image 'spinner.gif'
      %h3== #{t('sns.titles.upload')} #{model_name}
      - form_for :upload, :url => send("upload_admin_#{model_symbol}s_path"),:html => { :multipart => true, :target => 'upload_frame', :onsubmit => 'uploadInProgress();' } do |f|
        %p
          %label{:for => 'upload_file'}= t('sns.labels.select_file', :model => model_name)
        %p= f.file_field :file
        %p= submit_tag t('sns.titles.upload'), :id => 'upload_button'
      %p= link_to_function t('close'), "toggle_upload_popup()", :class => 'close-link'
      %iframe{:id => 'upload_frame', :name => "upload_frame", :style => "width:1px;height:1px;border:0px", :src => "about:blank"}
    .popup#upload-errors-popup{:style => 'display:none'}
      %h3= t('sns.titles.upload_errors')
      %p= t('sns.errors.file_upload')
      %div{:id => "errors_for_#{model_symbol}"}
      %p= link_to_function t('close'), "uploadErrorsWindow.hide()", :class => 'close-link'

