%h1== #{t('sns.titles.remove')} #{model_name}

%p== t('sns.remove_warning', :model => model_name)

%table.index{:id => model_symbol, :cellpadding => 0, :cellspacing => 0, :border => 0}
  %tbody
    %tr.node.level-1
      -# this next class is dumb but Radiant hard coded for the Snippet class so we'll just piggyback on that...
      %td.snippet
        = image("sns/#{model_symbol}", :class => "icon", :alt => "#{model_symbol}-icon", :title => model.url)
        %span.title= model.name

- form_for [:admin, model], :html => {:method => :delete} do
  %p.buttons
    %input.button{:type=>"submit", :value=>"#{t('sns.delete')} #{model_name}"}/
    = t('or')
    = link_to t('cancel'), send("admin_#{model_symbol}s_path")